<p>您好， <%= @resource.email %>!</p>

<p>有人在试图更改您的密码，您可以通过以下链接更改。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您没有发送更改密码的请求，请忽略本邮件。</p>
<p>您访问上面的链接并创建一个新的密码，否则密码将不会更改。</p>
